<style>
p.quotes {
    background: url("/slikice/quotes2_bg.png") no-repeat scroll 0 0 transparent;
    color: #666666;
    font-size: 18px;
    font-style: italic;
    height: 115px;
    line-height: normal;
    padding: 29px 0 0;
    position: relative;
    text-indent: 75px;
    width: 720px;
	font-family: "Segoe UI",Arial,Verdana;
	text-align:justify;
}

p.quotes span {
    bottom: 18px;
    color: #333333;
    font-size: 14px;
    font-style: normal;
    position: absolute;
    right: 70px;
}

</style>
<p class="quotes">

Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring 

<span>Read more Marilyn Monroe quotes</span>

</p>