<table width="680px" border="1" >
  <tr valign="top">
    <td width="33%"><table style="border:2px solid #EFEFEF;margin:3px;width:98%">
  <tr  >
    <td height="33" style="border-bottom:2px solid #CCC;"><h3>Naslov</h3></td>
  </tr>
  <tr valign="top">
    <td height="111">Slika</td>
  </tr>
</table></td>
    <td width="33%" style="padding:5px">tekst</td>
    <td width="34%"><table style="border:2px solid #EFEFEF;margin:3px;width:98%">
  <tr  >
    <td height="33" style="border-bottom:2px solid #CCC;"><h3>Naslov</h3></td>
  </tr>
  <tr valign="top">
    <td height="111">Slika</td>
  </tr>
</table></td>
  </tr>
</table>
<div class="clearfloat"></div>

