<div class="misplavo1 clearfix">
  <div class="mislslika floatleft"><a href="http://www.ria.gov.rs/"><img width="40" height="52" src="/slikice/word.png"></a></div>
    <div class="floatleft pozadinasvplava1 opismislist4">
  <div class="unutarver font16 misljepozfont1 boxlat">
  <a href="http://www.ria.gov.rs">Насловна</a> | <a class="bojacrvena" href="http://www.ria.gov.rs/">преузми</a>
  </div>
  
  </div>
  
  <div class="floatright pozadinasvplava1 opismislistkila">
  <div class="unutarver">
  <span class="misljepozfont1 bojaplava boldirano">XXX.31K</span>
    
  </div>
  </div>
  
  <div class="clearfloat"></div>
</div>